model = "gpt-5"

model_reasoning_effort = "high"
model_reasoning_summary = "auto"
hide_agent_reasoning = true
network_access = true

[tools]
web_search = true

[mcp_servers.context7]
command = "npx"
args = ["-y", "@upstash/context7-mcp@latest"]

[mcp_servers.serena]
command = "uvx"
args = [
    "--from",
    "git+https://github.com/oraios/serena",
    "serena",
    "start-mcp-server",
    "--context",
    "codex",
]

[mcp_servers.trust-mate]
command = "npx"
args = ["-y", "apidog-mcp-server@latest", "--project-id=899458"]